[user]
	name = Kjartan Sæle Lerøy
	email = 
[alias]
	stat = status
	co = checkout
	lg = log --format=\"%h: %Cgreen%an %ar %Creset(%ci) %n         %s\" -10
[core]
	editor = vim
[winUpdater]
	recentlySeenVersion = 2.20.1.windows.1
